<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.withoutsingelton.WithoutSingletonActivity"
            android:label="@string/without_singleton"></activity>

        <activity
            android:name=".ui.withsingelton.WithSingletonActivity"
            android:label="@string/with_singleton"></activity>


        <activity
            android:name=".ui.test.CoroutineTest.CoroutineTestActivity"
            android:label="@string/coroutine_test"></activity>

        <activity
            android:name=".ui.test.CoroutineTest.CoroutineTestActivity2"
            android:label="@string/coroutine_test2"></activity>

        <activity
            android:name=".ui.test.viewmodelstatedemo.ViewModelStateDemoActivity"
            android:label="@string/view_model_state_demo"></activity>

        <activity
            android:name=".ui.retrofitdemo.RetrofitDemoActivity"
            android:label="@string/retrofit_generic"></activity>

        <activity
            android:name=".ui.test.fragmentfactorydemo.FragmentFactoryDemoActivity"
            android:label="@string/fragment_factory_demo"></activity>

        <activity
            android:name=".ui.jetpackpaging.PagingActivity"
            android:label="@string/jetpack_paging_demo"></activity>

        <activity
            android:name=".ui.vb.ViewBindingDemoActivity"
            android:label="@string/view_biding_demo"></activity>

        <activity
            android:name=".ui.udacitydemo.MarsPhotoListDemo"
            android:label="@string/mars_demo"></activity>

    </application>

</manifest>